version: '3.8'
services:
  webservice:
    build: .
    depends_on:
      - redis
      - worker
    environment:
      - REDIS_TYPE=redis
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    ports:
      - "80:80"
    entrypoint: ./start.sh
  redis:
    image: redis:6.0
    ports:
      - "6379:6379"
  worker:
    build:
      context: .
      dockerfile: Dockerfile.celery
    entrypoint: celery -A app.celerytasks worker --loglevel=info
    depends_on:
      - redis
